<div class="post" id="pnl-post">
    <div class="post__upper-bar">
        <h1 class="post__title">Create your diary</h1>
        <p class="post__exit" id="btn-exit">&Cross;</p>
    </div>
    <div class="post__main">
        <div class="post__profile">
            <img src="image/profile-dev.jpg" alt="Profile Image" class="post__profile-image">
        </div>
        <div class="post__form">
            <form action="/diaries" method="post" class="field-form">
                <div class="field-form__group">
                    <input type="text" name="title" class="post-inp post-inp--title" placeholder="Page Title">
                </div>
                <div class="field-form__group">
                    <textarea name="body" id="body" class="post-inp post-inp--body" maxlength="200" placeholder="Hi! {{user.firstName}} how's your day?." style="width:100%"></textarea>
                </div>
                <div class="field-form__group">
                    <div class="field-form__group">
                        <input type="checkbox" class="post-ch" name="allowComments" id="allowComments" checked>
                        <label for="allowComments"  class="post-ch__label">Allow Comment</label>
                    </div>
                    <div class="field-form__group" style="margin-left: auto">
                        <select name="status" class="post-sel">
                            <option class="post-sel__option" value="public" selected>Public</option>
                            <option class="post-sel__option" value="private">Private</option>
                            <option class="post-sel__option" value="unpublished">Only me</option>
                        </select>
                    </div>

                </div>
                <div class="field-form__group" style="margin-left: auto">
                    <button class="btn btn--secondary">Post</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
<script>
    
    CKEDITOR.replace( 'body');

    document.getElementById('btn-exit').addEventListener('click',()=>{
        document.getElementById('btn-float-cover').classList.toggle('float-show');
        document.getElementById('pnl-post').classList.remove('post-show');
    });
</script>