{{#if user}}
    <button class="btn btn--floating" id="btn-float"><i class="fas fa-plus"></i></button>
    <div class="btn__floating-cover" id="btn-float-cover"></div>
{{else}}

{{/if}}

<script>
    document.getElementById('btn-float').addEventListener('click', (e)=>{
        document.getElementById('pnl-post').classList.toggle('post-show');
        document.getElementById('btn-float-cover').classList.toggle('float-show');
    })
</script>