{{#if user}}

    {{else}}
    <footer class="footer">

    <ul class="footer__list">
        <li class="footer__item"><a href="/about" class="footer__link">About</a></li>
        <li class="footer__item"><a href="/help" class="footer__link">Help Center</a></li>
        <li class="footer__item"><a href="/blog" class="footer__link">Blog</a></li>
        <li class="footer__item"><a href="/status" class="footer__link">Status</a></li>
        <li class="footer__item"><a href="/jobs" class="footer__link">Jobs</a></li>
        <li class="footer__item"><a href="/terms" class="footer__link">Terms</a></li>
        <li class="footer__item"><a href="/privacy" class="footer__link">Privacy Policy</a></li>
        <li class="footer__item"><a href="/cookies" class="footer__link">Cookies</a></li>
        <li class="footer__item"><a href="/ads" class="footer__link">Ads info</a></li>
        <li class="footer__item"><a href="/brand" class="footer__link">Brand</a></li>
        <li class="footer__item"><a href="/apps" class="footer__link">Apps</a></li>
        <li class="footer__item"><a href="/advertise" class="footer__link">Advertise</a></li>
        <li class="footer__item"><a href="/marketing" class="footer__link">Marketing</a></li>
        <li class="footer__item"><a href="/bussiness" class="footer__link">Bussiness</a></li>
        <li class="footer__item"><a href="/developers" class="footer__link">Developers</a></li>
        <li class="footer__item"><a href="/directory" class="footer__link">Directory</a></li>
        <li class="footer__item"><a href="/setting" class="footer__link">Settings</a></li> 
        <li class="footer__item"><a class="footer__link"></a>&copy;2019 Diary Share</li>
    </ul>

</footer>
{{/if}}