<div class="hamburger__cover" id="pnl-hamburger-cover">

</div>

<div class="hamburger__nav" >
    <div class="hamburger__bar" id="pnl-hamburger">
        <div class="hamburger__holder">
            <ul class="hamburger__list">
                <li class="hamburger__item"><a href="/profile/{{user.id}}" class="hamburger__link">Profile</a></li>
                <li class="hamburger__item"><a href="/feed" class="hamburger__link">Diaries</a></li>
                <li class="hamburger__item"><a href="/diaries" class="hamburger__link">Social Diaries</a></li>
                <li class="hamburger__item"><a href="/auth/logout" class="hamburger__link">Logout</a></li>
            </ul>
        </div>
    </div>
</div>