<div class="header">
    
    <div class="row">
        <div class="nav">
            <div class="nav__logo">
                <img src="/image/logo.png" alt="Diary Share" class="nav__img">
            </div>
            
            <div class="nav__form">
                <form class="form" method="POST">
                    <div class="form__group">
                        <input type="text" class="inp inp--sign" placeholder="email" id="email" name="email">
                    </div>
                    
                    <div class="form__group">
                        <input type="password" class="inp inp--sign" placeholder="password" id="password" name="password">
                    </div>
                    <button class="btn btn--secondary">Login</button>
                </form>
            </div>

            {{!-- <div class="nav__list">
                <a href="/auth/google" class="btn btn--signIn">Sign in with <img src="/image/google-logo.png" alt="" class="btn__img"></a>                
            </div> --}}
        </div>
    </div>

</div>