
{{#if user}}
<div class="header login">
    <div class="row">
        <div class="login__nav">
            <div class="btn--hamburger mr-1 ml-6" id="btn-hamburger">
                    <class class="btn--hamburger_span">
                    </class>
                </div>
            <div class="login__logo">
                <img src="/image/logo.png" alt="Diary Share" class="login__logo">
            </div>

            <div class="login__profile">
                <img src="{{user.image}}" class="profile__img">
                <div class="profile__name">{{user.firstName}} {{user.lastName}}</div>
                {{!-- <a href="/auth/logout" class="btn btn--logout">Logout</a> --}}
            </div>

        </div>
    </div>
</div>

{{else}}

<div class="header">
    <div class="row">
        <div class="nav">
            <div class="nav__logo">
                <img src="/image/logo.png" alt="Diary Share" class="nav__img">
            </div>

            <div class="nav__form">
                <form class="form" method="POST">
                    <div class="form__group">
                        <input type="text" class="inp inp--sign mt-1" placeholder="email" id="email" name="email">
                    </div>

                    <div class="form__group">
                        <input type="password" class="inp inp--sign mt-1" placeholder="password" id="password" name="password">
                    </div>
                    <button style="width:250px; " class="btn btn--secondary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{/if}}

<script>
    let count = 0;
    document.getElementById('btn-hamburger').addEventListener('click', (e)=>{
    
        
        document.getElementById('btn-hamburger').classList.toggle('btn-action');
        document.getElementById('pnl-hamburger').classList.toggle('bar-action');
        document.getElementById('pnl-hamburger-cover').classList.toggle('cvr-action');
    });


</script>