<div class="row pd-2">
    <h1 class="mb-2">Your Diaries</h1>
    <div class="flex">
        <div class="flex-col">
            <div class="card">
                <div class="card__left">
                    <div class="card__top">
                        <div class="card__holder">
                            <img src="/image/img-1.jpg" class="card__img">
                        </div>

                    </div>

                    <div class="card__bottom">
                        <div class="card__date">
                            <h1 class="card__day">
                                7
                            </h1>

                            <h2 class="card__month">
                                February
                            </h2>
                        </div>

                        <div class="card__tray">
                            <a href="" class="btn--link"><i class="far fa-eye" title="Views"></i></a>
                            <a href="" class="btn--link"><i class="far fa-heart" title="Like"></i></a>
                            <a href="" class="btn--link"><i class="far fa-edit" title="Edit"></i></a>
                            <a href="" class="btn--link"><i class="far fa-trash-alt" title="Delete"></i></a>
                        </div>
                    </div>

                </div>

                <div class="card__right">
                    <h1 class="card__heading">
                        <span class="card__heading_span">
                            What happen if the world is fallen?
                        </span>

                    </h1>

                    <div class="card__profile">
                        <div class="card__profile-img-holder">
                            <img src="/image/profile-dev.jpg" alt="" class="card__profile-img">
                        </div>

                        <h4 class="card__profile-name">
                            Christopher Lugod
                        </h4>
                    </div>

                    <a href="" class="btn btn--secondary card__view" title="View Diary Content"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="flex-col">
            <div class="card">
                <div class="card__left">
                    <div class="card__top">
                        <div class="card__holder">
                            <img src="/image/img-2.jpg" class="card__img">
                        </div>

                    </div>

                    <div class="card__bottom">
                        <div class="card__date">
                            <h1 class="card__day">
                                8
                            </h1>

                            <h2 class="card__month">
                                February
                            </h2>
                        </div>

                        <div class="card__tray">
                            <a href="" class="btn--link"><i class="far fa-eye" title="Views"></i></a>
                            <a href="" class="btn--link"><i class="far fa-heart" title="Like"></i></a>
                            <a href="" class="btn--link"><i class="far fa-edit" title="Edit"></i></a>
                            <a href="" class="btn--link"><i class="far fa-trash-alt" title="Delete"></i></a>
                        </div>
                    </div>

                </div>

                <div class="card__right">
                    
                    <h1 class="card__heading">
                        <span class="card__heading_span">
                            I dont know how gonna say the N word.
                        </span>
                    </h1>

                    <div class="card__profile">
                        <div class="card__profile-img-holder">
                            <img src="/image/profile-dev.jpg" alt="" class="card__profile-img">
                        </div>

                        <h4 class="card__profile-name">
                            Christopher Lugod
                        </h4>
                    </div>

                    <a href="" class="btn btn--secondary card__view" title="View Diary Content"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        {{!-- {{#each diaries}}

        {{else}}

        {{/each}} --}}
    </div>

</div>